header
	h1
		a(href="/") Andrea Franchini
	nav
		ul
			li
				a(href="/portfolio") Portfolio
			li
				a(href="https://github.com/qub3x" target="_blank") GitHub
				a(href="https://www.linkedin.com/in/andreafranchini/" target="_blank") LinkedIn