header
	.aligned-content
		h1
			a(href="/") Andrea Franchini
		nav
			ul
				li
					a(href="#projects")#projectsBtn Projects
				li
					a(href="https://github.com/qub3x" target="_blank") GitHub
				li
					a(href="https://www.linkedin.com/in/andreafranchini/" target="_blank") LinkedIn
