* {
  box-sizing: border-box;
}

body {
  font-family: "DIN 1451", "Space Mono", monospace;
  text-rendering: optimizeLegibility;
  font-size: 1rem
}

.wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

$card-size: 25rem;
$size-portrait: 80vw;
$size-landscape: 80vh;
$padding: 3rem;
$padding-portrait: 10vw;
$padding-landscape: 10vh;

.card-container {
  height: $card-size;
  width: $card-size;
  margin: auto;
  // padding: 2.5rem;
  align-self: center;
  // border-radius: 2rem;
  font-size: 1.4rem;
  // @include card(5);
  
  .card-bg {
    position: absolute;
    width: $card-size;
    height: $card-size;
    transform-style: flat;
    transform-origin: 50% 50%;
    transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28)
  }

  .card-content {
    position: absolute;
    width: $card-size;
    height: $card-size;
    padding: $padding;
    color: white;
    font-size: 2.5rem;

    h1 {
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 1.4em;
      letter-spacing: 0.1em;
      line-height: 1em
    }
    p {
      margin: 1em 0 0 0;
      text-align: center;
      font-size: 1em;
      line-height: 1.5em;
    }
    .new-line {
      display: block;
    }
  }
}

footer {
  display: flex;
  height: 4em;
  .footer-label {
    margin: auto;
    align-self: center;
    color: lighten($color: $grey, $amount: 20)
  }
}

@media only screen 
  and (max-device-width: 736px)
  and (orientation: portrait) {

  .card-container {
    height: $size-portrait;
    width: $size-portrait;
    .card-bg{
      height: $size-portrait;
      width: $size-portrait;
    }
    .card-content {
      height: $size-portrait;
      width: $size-portrait;
      padding: $padding-portrait;
      font-size: 8vw;
    }
  }
}

@media only screen 
  and (max-device-width: 736px)
  and (orientation: landscape) {

  .card-container {
    height: $size-landscape;
    width: $size-landscape;
    .card-bg{
      height: $size-landscape;
      width: $size-landscape;
    }
    .card-content {
      height: $size-landscape;
      width: $size-landscape;
      padding: $padding-landscape;
    }
  }
}