@import 'variables';
@import 'typography';

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 25em 1fr;
  grid-template-rows: 1fr;
}

.col {
  padding: 3em;
}

.bio {
  background: rebeccapurple;
}

.portfolio {
  background: white;
}

@media screen and (max-width: 599px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}