/* Variables */
	$default-font-color: #2f2f2f;
	$background-color: #d1d1d1;
body {
	font-family: Helvetica;
	color: $default-font-color;
}
header > h1, header > ul {
	display: inline-block;
}
header > ul > li {
	display: inline-block;
}