---
    import S from "./styles.module.scss"
---

<section class={S.bio}>
    <p>
        Hi, I'm <em>Andrea Franchini</em>, a master's degree student in
        <em>Computer Science and Engineering</em>
        at the
        <a class={S.link} href="//www.polimi.it" target="_blank" rel="noopener noreferrer">
            Polytechnic University of Milan</a>.
        I got my bachelor's degree in Computer Engineering in 2020.
    </p>
    <p>
        I've made a bunch of stuff over the years that is available on
        <a class={S.link} href="//github.com/andreafra" target="_blank" rel="noopener noreferrer">
            GitHub</a>.
        The projects that are good enough to be showcased are briefly described in the project section.
    </p>
</section>
