h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-rendering: optimizeLegibility; }

.bio a {
  color: white;
  text-decoration: none;
  font-family: "Crimson Text", serif; }
  .bio a:active, .bio a:hover, .bio a:focus {
    color: white; }

.bio p {
  margin: 1em 0;
  font-family: "Crimson Text", serif;
  font-size: 1.5rem; }

.portfolio * {
  color: #20173C; }

.portfolio a {
  color: #20173C;
  text-decoration: none; }
  .portfolio a:active, .portfolio a:hover, .portfolio a:focus {
    color: #20173C; }

* {
  font-family: sans-serif;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  display: grid;
  grid-template-columns: 25em 1fr;
  grid-template-rows: 1fr; }

.col {
  padding: 3em; }

.bio {
  background: rebeccapurple; }

.portfolio {
  background: white; }

@media screen and (max-width: 599px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; } }
