/* Sfire.js CSS */
/* Edit this as you prefer */
/* TABLETS and PHONES HERE */
@media screen and (max-width: 991px) {
	.sfire-btn {
		top: 5px;
		padding: 0.1em 0.1em 0px 0.1em;
		text-align: center;
		line-height: 1.5em;
		height: 1.5em;
		width: 1.5em;
		font-size: 1.5em;
		background-image: none;
		background-color: transparent;
		color: white;
		z-index: 9999;
	}
	.sfire-btn-fixed {
		position: fixed;
	}
	.sfire-btn-static {
		position: static;
	}
	.sfire-btn-left {
		left: 5px;
	}
	.sfire-btn-right {
		right: 5px;
	}
	.sfire-bar {
		display: block;
		height: 0.3em;
		width: 1.3em;
		border-radius: 1px;
		margin-top: 0.2em;
		box-shadow: 1px 1px 3px black;
		background-color: white;
	}
	.sfire-bar-1 {
		background-color: #ff7800;
	}
	.sfire-bar-2 {
		background-color: #ff6700;
	}
	.sfire-bar-3 {
		background-color: #ff3d00;
	}
	.sfire-menu {
		position: fixed;
		background-color: rgba(0,0,0,0.9);
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		margin-top: 0px;
		padding: 0;
		text-align: center;
		z-index: 9998;
	}
	.sfire-navbar > h2 {
		display: none;
	}
	.sfire-navbar > h2 > img {
		display: none;
	}
	.sfire-menu > li {
		position: relative;
		display: inline-block;
		list-style: none;
		top: 5em;
		margin-top: 2px;
		width: 32%;
		height: 5em;
		background-color: transparent;
		color: white;
		text-align: center;
		line-height: 5em;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: 200;
	  	transition: all 0.3s linear;
	}
	.sfire-menu > li:hover {
		background-color: #ff3d00;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: 200;
	}
	.sfire-menu > li > a {
	  display: inline-block;
	  vertical-align: middle;
	  line-height: normal;
	  text-decoration: none;
	  color: white;
	}
	.sfire-menu > li > a > img {
		overflow: hidden;
		border-radius: 50px;
		height: 100%;
	}
}
/* DESKTOP HERE */
@media screen and (min-width: 992px) {
	.sfire-navbar { 
	display: none;
	}
/*

	.sfire-navbar {
		display: block;
		height: 5em;
		top: 0px;
		background: #ff7800;
		background: -moz-linear-gradient(top, #ff7800 0%, #ff3d00 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff7800), color-stop(100%, #ff3d00));
		background: -webkit-linear-gradient(top, #ff7800 0%, #ff3d00 100%);
		background: -o-linear-gradient(top, #ff7800 0%, #ff3d00 100%);
		background: -ms-linear-gradient(top, #ff7800 0%, #ff3d00 100%);
		background: linear-gradient(to bottom, #ff7800 0%, #ff3d00 100%);
	}
	.sfire-navbar-fixed {
		position: fixed;
	}
	.sfire-navbar-static {
		position: static;
	}
	.sfire-btn {
		display: none;
	}
	.sfire-navbar > h2 {
		font-size: large;
		font-weight: 700;
		line-height: 4.5em;
		color: white;
		margin-left: 2em;
	}
	.sfire-menu {
		position: relative;
		background-color: transparent;
		text-align: right;
		float: right;
	}
	.sfire-menu > li {
		font-family: 'Dosis', Helvetica, Arial, sans-serif;
		display: inline-block;
		color: white;
		margin-left: 1em;
		margin-right: 1em;
		vertical-align: middle;
		line-height: 5em;
	}
	.sfire-menu > li:hover {
		color: #c9c9c9;
	}
	.sfire-menu > li > a {
	  	display: inline-block;
	  	vertical-align: middle;
	  	line-height: normal;
	 	text-decoration: none;
	  	color: white;
	}
	.sfire-menu > li > a:hover,
	.sfire-menu > li > a:focus {
		color: #c9c9c9;
	}
*/
}