li
    h3 Heroes API
    p 
        a(href="https://glitch.com/~heroes-api") Heroes API
        |  is an unofficial 
        span.t-yellow REST API
        |  I made for Blizzard’s 
        a(href="https://heroesofthestorm.com") Heroes of the Storm
        |, a game I often played with my friends. Since three years after launch the game still doesn’t provides its own API, I decided to put together a scrapper to gather as much data as possible from various sites, which ironically don’t provide any APIs, too. I did all I could to maximize the efficiency of the API by caching the retrieved data, in order to not impact too much on scrapped websites resources. It’s hosted on 
        a(href="https//glitch.com") Glitch.com
        |.
li
    h3 HotS Discord Bot
    p
        a(href="https://glitch.com/~hots-discord-bot") HotS Discord Bot
        |  is a very quick 
        span.t-purple Discord bot
        |  I coded to test and use the above Heroes API. Even though is now offline, it provided players with basic stats in a 
        a(href="https://imgur.com/1fo5K5L") quick and useful format
        |.
li
    h3 DnD Spell Cards
    p
        a(href="https://github.com/QUB3X/dnd-spell-cards-online") Dnd Spell Cards
        |  was my first project with 
        span.t-blue ReactJS
        |, to help me and my friends to keep track of their spells during our Dungeons & Dragons sessions.
li
    h3 CAHOnline
    p
        a(href="https://github.com/QUB3X/CAHOnline") CAHOnline
        |  was my and 
        a(href="https://twitter.com/yodevilhots") @YoDevilHots
        |  take on a web port of the famous Cards Against Humanity. We used it as an occasion to test  
        span.t-red AngularJS
        |  and 
        span.t-green Socket.io
        |  in a small project. The final result was playable, with some occasional bug due to players disconnection or CSS device-related glitches.
li
    h3 LIM
    p
        a(href="https://github.com/QUB3X/LIM") LIM
        |  was one of the first projects I and 
        a(href="https://twitter.com/yodevilhots") @YoDevilHots
        |  eventually finished during high-school. It was a desktop app built on 
        a.t-blue(href="https://electronjs.org") ElectronJS
        |  and vanilla 
        a.t-yellow HTML5 Canvas
        |  that aimed to provide an extremely simple interface to help not-really-tech-savvy teachers to draw on interactive whiteboards.
li
    h3 Other Projects
    p I have of course used other programming languages, including 
        span.t-green Python
        |  and recently 
        span.t-yellow Swift
        |, although I’ve never actually finished a project to a point I considered myself satisfied with it. iOS Development was quite interesting and I had a couple of apps in the works, which unfortunately I don’t think I’ll have time to finish due to time constraints.