<!DOCTYPE html>
<html ng-app="blog">
	<head>
		<title>Admin Panel</title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/admin/stylesheet.css">
	</head>
	<body>
		
		<div class="container" ng-controller="PanelController as panel">
			<header class="row">
				<h1 class="col-md-6 col-sm-6 col-xs-12">Admin Settings</h1>
			</header>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<ul class="nav nav-pills nav-stacked">
						<li ng-class="{ active: panel.isSelected(1) }">
							<a href="#" ng-click="panel.selectTab(1)">Home</a>
						</li>
						<li ng-class="{ active: panel.isSelected(2) }">
							<a href="#" ng-click="panel.selectTab(2)">Blog Information</a>
						</li>
						<li ng-class="{ active: panel.isSelected(3) }">
							<a href="#" ng-click="panel.selectTab(3)">Posts</a>
						</li>
					</ul>
				</div>
				<section class="col-md-9 col-sm-9 col-xs-12">
					<!-- Panel 1 -->
					<div ng-show="panel.isSelected(1)">
						<div class="content-panel">
							<div class="content-title">
								<h3>Home</h3>
							</div>
							<div class="content-body">
								Hello, this is a simple blog platform with no database nor php.
							</div>
						</div>
					</div>
					<!-- Panel 2 -->
					<div ng-show="panel.isSelected(2)">
						<div class="content-title">
							<h3>Posts</h3>
						</div>
						<div class="content-body">
							Edit the infos of your blog!
						</div>
						<div class="settings">
							
						</div>
					</div>
					<!-- Panel 3 -->
					<div ng-show="panel.isSelected(3)">
						<div class="content-title">
							<h3>Info</h3>
						</div>
						<div class="content-body">
							Here you can see all the published posts.
						</div>
						<div class="settings">
							<!-- Form -->
							<form class="form-horizontal" role="form">
							  	<div class="form-group has-feedback" id="blog-name-div">
							    	<label class="control-label col-sm-3" for="blog-name">Your blog name</label>
							    	<div class="col-sm-9">
										<input type="text" class="form-control" id="blog-name" required>
									</div>
								</div>
								<div class="form-group has-feedback" id="blog-motd-div">
							    	<label class="control-label col-sm-3" for="blog-motd">Your blog motd</label>
							    	<div class="col-sm-9">
										<input type="text" class="form-control" id="blog-motd">
									</div>
								</div>
								<div class="form-group has-feedback" id="blog-url-div">
							    	<label class="control-label col-sm-3" for="blog-url">Your blog url</label>
							    	<div class="col-sm-9">
										<input type="url" class="form-control" id="blog-url">
									</div>
								</div>
								<div class="form-group text-right" id="blog-url-div">
							    	<button type="submit" class="q-go-right">
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
		<footer>

		</footer>
		<!-- Scripts -->
		<script src="../js/retina.min.js"></script>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	    <script src="../js/app.js"></script>
	</body>
</html>
