/*	font-family: 'Karma', serif; > SERIF
	font-family: 'Lily Script One', cursive; > TITLE
	font-family: 'Kite One', sans-serif; > HEADERS
	font-family: 'Hind', sans-serif;  > SANS SERIF */
$sans-serif: 'Hind', sans-serif;
$serif: 'Karma', serif;
$header: 'Kit One', sans-serif;
$mega-title: 'Lily Script One', cursive;
$font-size: 100%;
/* Default color */
$font-color: #212121;
	$blue: #5677fc;		$blue-hover: #4e6cef; $blue-active: #445ede;
	$red: #e51c23;		$red-hover: #dd191d; $red-active: #d01726;
	$yellow: #ffc107;	$yellow-hover: #fdd835; $yellow-active: #fbc02d;
/* Mixins */
@mixin transition($time){
	-o-transition-property: all;
	-o-transition-duration: $time;
	-o-transition-timing-function: ease-in;
	-o-transition-delay: 0s;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: all;
    -webkit-transition-duration: $time;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-delay: 0s;
    /* Standard syntax */
    transition-property: all;
    transition-duration: $time;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
/* header */
body {
	width: 99% /* It cause window horizontal scrolling */
}
header {
	.greets {
		text-align: center;
		font-family: $mega-title;
		font-size: 100px;
	/*Tablet*/
	@media (min-width: 768px) {
		font-size: 200px;
	}
	/*Desktop*/
	@media (min-width: 992px) {
		font-size: 300px;
	}
	/*-------*/
	}
	nav {
		ul {
			#link-blue {
				border: 2px solid transparent;
				&:hover {border: 2px solid $blue-hover;
					a {color: $blue-hover}
				}
				&:active {border: 2px solid $blue-active; background-color: $blue-active;
					a {color: white}
				}
				a {color: $blue}
			}
			#link-red {
				border: 2px solid transparent;
				&:hover {border: 2px solid $red-hover;
					a {color: $red-hover}
				}
				&:active {border: 2px solid $red-active; background-color: $red-active;
					a {color: white}
				}
				a {color: $red}
			}
			#link-yellow {
				border: 2px solid transparent;
				&:hover {border: 2px solid $yellow-hover;
					a {color: $yellow-hover}
				}
				&:active {border: 2px solid $yellow-active; background-color: $yellow-active;
					a {color: white}
				}
				a {color: $yellow}
			}
			li {
				list-style: none;
				padding: 0;
				font-size: 2em;
				text-align: center;
				text-decoration: none;
				font-family: $header;
				border-radius: 5px;
				margin-top: 1em;
				
				@include transition(0.3s);
				
				&:hover {
					text-decoration: none;
					border-radius: 5px;
					a {
						text-decoration: none;
					}
				}
				
				&:active {
					border-radius: 10px;
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
}