@font-face 
    font-family "Charter"
    font-weight normal
    src url("../../assets/fonts/charter/regular.eot"),
        url("../../assets/fonts/charter/regular.ttf") format("truetype"),
        url("../../assets/fonts/charter/regular.woff") format("woff")

@font-face 
    font-family "Charter"
    font-weight bold
    src url("../../assets/fonts/charter/bold.eot"),
        url("../../assets/fonts/charter/bold.ttf") format("truetype"),
        url("../../assets/fonts/charter/bold.woff")

// @font-face 
//     font-family "Jost"
//     font-weight normal
//     src url("../assets/fonts/jost/medium.otf")