@media print
    *
        background transparent !important
        color black !important
        font-size 11pt

    .wrap
        max-width 100%
    header,
    .info
        display none !important
    
    // typography
    h1, h2, h3, h4, h5, h6
        margin 0 !important
        padding 0.2em 0 !important
        font-weight bold
    h1
        font-size 13pt !important
    h2
        font-size 11pt !important
    h3
        font-size 10pt !important
    h4, h5, h6
        font-size 9pt !important
    p, ul, li, a, em, strong
        font-size 9pt !important
        line-height 1.1em
        text-decoration none
        code
            font-size 1em * 0.85 !important
            padding: 0 !important
    ul
        padding-left 1.5em !important
    p, ul, pre
        margin 0.5em 0 !important
    pre
        font-size 8pt !important
        padding 0 0.5em !important
        border-left 1px solid black !important
        border-radius 0 !important