h1 {
	font-weight: bold
}

h2, h3, h4, h5, h6 {
	color: color-text
	font-weight: bold
	margin: size-heading-margin 0
}

h2
	font-size: font-size * 1.5
	margin: size-heading-margin * 2 0 size-heading-margin 0
h3
	font-size: font-size * 1.1
h4, h5, h6
	font-size: font-size
p
	color: color-text
	font-size: font-size
	font-weight: normal
	line-height: 1.5em
a
	color: color-text
	text-decoration: underline

strong
	font-weight: bold

em
	font-style: italic

img
	width: 100%