h1
	font-size h-font-size
	font-weight bold
h2
	font-size font-size * 1.2
	font-weight bold
h3
	font-size font-size * 1.1
	font-weight bold
h4, h5, h6
	font-size font-size * 1
	font-weight bold
p
	font-size font-size
	font-weight normal
	line-height 1.5em
a
	text-decoration underline
	color color-text

strong
	font-weight bold

em
	font-style italic

img
	width 100%