// Fonts
font-stack = Charter, Georgia, serif
font-code = Hack, Menlo, Monaco, Consolas, Courier, monospace
font-size = 1.1rem

// Colors
color-bg = #f6d1ac
color-text = #2c3245ff
color-alert = #f08080ff
color-primary = #74d3aeff

colors = color-bg color-text color-alert color-primary

color-bg-light = lighten(color-bg, 15%)
color-text-light = lighten(color-text, 15%)
color-alert-light = lighten(color-alert, 15%)
color-primary-light = lighten(color-primary, 15%)

color-bg-dark-1 = darken(color-bg, 12%)
color-text-dark-1 = darken(color-text, 10%)
color-alert-dark-1 = darken(color-alert, 10%)
color-primary-dark-1 = darken(color-primary, 10%)

// Animations
anim-timing = 0.23s

// Size
size-page-max-width = 25em

size-page-padding = 1em
size-heading-margin = 1rem

size-border-radius = 0.5em

size-email-padding = 0.5rem

size-header-margin = 4rem
size-header-title-padding = 1em
size-header-link-padding = 0.4em 0.5em
size-header-link-margin = 0.5em

size-footer-margin = 4rem
