@font-face {
    font-family: "Panton Black";
    src: url("../fonts/Panton-BlackCaps.otf");
}
@font-face {
    font-family: "Panton Light";
    src: url("../fonts/Panton-LightCaps.otf");
}
@font-face {
    font-family: "Neue Haas Unica";
    src: url("../fonts/NeueHaasUnicaPro-Thin.otf");
}
* {
  font-family: "Neue Haas Unica"
  text-rendering: optimizeLegibility;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes loading {
  0% { background-color: #FF403A }
  16.6% { background-color: #2DD55E }
  33.2% { background-color: #FFD857 }
  49.8% { background-color: #18D15C }
  66.4% { background-color: #1191F1 }
  83% { background-color: #5959D3 }
  100% { background-color: #FF403A }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #1e1c28;
}

.title {
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;

  animation: 0.5s fadeIn ease-in
}

h1 {
  color: #666666;
  font-size: 3em;
  margin: 0;
}

#loading {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: white;
  animation: 10s loading infinite;
}
#loading:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #1d1d1d;
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 3px;
}
