/*	font-family: 'Karma', serif; > SERIF
	font-family: 'Lily Script One', cursive; > TITLE
	font-family: 'Kite One', sans-serif; > HEADERS
	font-family: 'Hind', sans-serif;  > SANS SERIF */
header {
  text-align: center;
}
#greets {
  font-size: 7em;
  font-family: 'Lily Script One';
}
#title-desc-1, #title-desc-2 {
  font-family: 'Hind';
}
#title-desc-1 {
  color: #5677fc;
  font-size: 3em;
  -webkit-animation-duration: .7s;
  -moz-animation-duration: .7s;
  -ms-animation-duration: .7s;
  -o-animation-duration: .7s;
  animation-duration: .7s;
}
#title-desc-2 {
  color: #777;
  font-size: 2em;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}