/*	font-family: 'Karma', serif; > SERIF
	font-family: 'Lily Script One', cursive; > TITLE
	font-family: 'Kite One', sans-serif; > HEADERS
	font-family: 'Hind', sans-serif;  > SANS SERIF */
/*Animations*/
@keyframes moveLeft {
  0%, 100% {margin-left: 20px}
  50% {margin-left: 10px}
}
@-webkit-keyframes moveLeft {
  0%, 100% {margin-left: 20px}
  50% {margin-left: 10px}
}
@keyframes moveRight {
  0%, 100% {margin-right: 20px}
  50% {margin-right: 10px}
}
@-webkit-keyframes moveRight {
  0%, 100% {margin-right: 20px}
  50% {margin-right: 10px}
}

/*media*/
@media screen and (max-width: 767px) {
  .left-button, .right-button {
    top: 70%;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  .mars {
    display: none;
  }
}
body {
  background-image: url('../img/space.png');
  background-repeat: repeat;
  background-size: auto;
    image-rendering:optimizeSpeed;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:optimize-contrast;
    image-rendering:crisp-edges;
    image-rendering:pixelated;
    -ms-interpolation-mode:nearest-neighbor;  
    z-index: 0;
}
.hidden {
  display: none;
}
section {
  text-align: center;
  z-index: 10;
}
#greets {
  font-size: 7em;
  font-family: 'Lily Script One', cursive;
  color: #fff;
}
#title-1, #title-2 {
  font-family: 'Hind', sans-serif;
}
#title-1 {
  color: #9ad3fc;
  font-size: 3em;
  -webkit-animation-duration: .7s;
  -moz-animation-duration: .7s;
  -ms-animation-duration: .7s;
  -o-animation-duration: .7s;
  animation-duration: .7s;
}
#title-2 {
  color: #ababab;
  font-size: 2em;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}
/*things to animate*/
.left-button img, .right-button img {
  height: 100px;
}
.left-button, .right-button {
  height: 4em;
  position: absolute;
  top: 40%;
}
.left-button {
  left: 0px;
  vertical-align: middle;
  margin-left: 20px;
}
.left-button:hover {
  -webkit-animation: moveLeft 1.3s ease-in-out infinite;
  animation: moveLeft 1.3s ease-in-out infinite;
}
.right-button {
  right: 0px;
  vertical-align: middle;
  margin-right: 20px;
}
.right-button:hover {
  -webkit-animation: moveRight 1.3s ease-in-out infinite;
  animation: moveRight 1.3s ease-in-out infinite;
}
/*------- decorations ---*/
.planets {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
  .earth {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    z-index: 3
  }
  .moon {
    position: absolute;
    left: 175px;
    bottom: 200px;
    width: 100px;
    z-index: 2
  }
  .mars {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 200px;
    z-index: 1;
  }
/*---------------------*/
/*      FOOTER         */
/*---------------------*/
footer {
  bottom: 0;
  position: fixed;
  z-index: 30;
  width: 100%;
  line-height: 3em;
  text-align: center;
  vertical-align: bottom;
  height: 3em;
}
  .copyright {
    position: relative;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    width: 100%;
    font-family: 'Kite One', sans-serif;
  }
    .copyright a {
      color: #5677fc;
    }
  .more-info {
    float: left;
    margin-left: 1em;
  }