
extends ../includes/layout.pug

block content
    .s.bio
        h2 Bio
        p 
            | I have a keen interest in 
            span.t-green Game Design
            |  and Development, but I often tinker with 
            span.t-yellow JavaScript
            |  and plenty of  
            span.t-blue Web Design
            |  related stuff, too. I enjoy creating useful things, and I care to make them look good.
        p
            | I’m currently enrolled at 
            a(href="https://www.polimi.it") Politecnico di Milano
            | , Italy, as a 
            span.t-red Computer Engineering
            |  student.
    .s.portfolio
        h2 Portfolio
        p I keep a list of the projects I worked on in the 
            a(href="/portfolio") portfolio page
            |, which I recommend you to check out!
        p There's also a  
            span.t-purple collection of notes
            |  (in Italian) from University that I redacted with LaTeX. They are 
            a(href="https://github.com/qub3x/appunti") publicly available on GitHub
            |.
    .s.contact
        h2 Contact
        p If you want to ask me anything, or just say hi, feel free to drop me a line at:
        span.email andrea (at) andreafranchini (dot) me
        p You can also visit my 
            a(href="https://github.com/qub3x") GitHub profile
            |!