
extends ../includes/layout.pug

block content
    section.bio
        h2 Bio
        p I have a keen interest in Game Design and Game Development, but I also have a good set of Web Design skills.
            br 
            | I’m currently studying Computer Engineering at Politecnico di Milano, Italy.
    section.portfolio
        h2 Portfolio
    section.contact
        h2 Contact