extends ../includes/layout.pug

block content
    .s.portfolio
        h2 Portfolio
        p Here is a quick list of projects I worked on in the last years:
        ul.p-list
            include ../includes/portfolio_list.pug