---
import BaseLayout from "@layouts/BaseLayout.astro"
import S from "@layouts/styles.module.scss"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
	const entries = await getCollection("entries")
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BaseLayout content>
	<article class={S.entryContainer}>
		<h1 class={S.title}>{entry.data.title}</h1>
		<span class={S.date}
			>{new Date(entry.data.publishDate).getFullYear()}</span
		>
		<Content />
	</article>
</BaseLayout>
