---
import Layout from "@layouts/Layout.astro"
import pfp from "@assets/pfp.jpg"
import { Content as AboutContent } from "@assets/about.mdx"
---

<Layout title="Andrea Franchini | About">
	<h2 class="text-3xl font-bold pt-4 md:pt-9 pb-4 md:pb-3">About me</h2>
	<section class="about">
		<img
			src={pfp.src}
			width={pfp.width}
			height={pfp.height}
			alt="portrait of Andrea, wearing a nice shirt."
			class="rounded-full rounded-b-none border-[3px] border-text float-right w-1/3"
		/>
		<AboutContent />
	</section>
</Layout>
<style is:global>
	.about a {
		@apply text-accent underline decoration-accent underline-offset-4 decoration-2;
	}
	.about p {
		@apply mt-2 first:mt-0;
	}
	.about ul {
		@apply list-disc pl-8 flex flex-col gap-2 marker:text-text;

		list-style: disc;
	}
	.about h2 {
		@apply text-2xl font-bold mt-6 mb-1.5;
	}
</style>
