---
import Layout from "@layouts/Layout.astro"
import { Picture } from "@astrojs/image/components"
import pfp from "@assets/pfp.jpg"

const yearsCoding =
    new Date().getFullYear() - new Date("2013-01-01").getFullYear()
---

<Layout title="Andrea Franchini | About">
    <header>
        <div class="pt-12 px-2 md:px-8 text-clamp/[1.2]">
            <h1 class="text-accent">
                <a href="/">Andrea Franchini</a>: About me
            </h1>
        </div>
    </header>
    <main class="pt-6 px-2 md:px-8 grid grid-cols-1 md:grid-cols-3 gap-6">
        <section class="text-2xl/normal col-span-2">
            <p>I'm a software engineer based in Milan, Italy.</p>
            <p>
                I'm currently a Research Fellow at the <em
                    >Politecnico di Milano</em
                >, where I got my master's degree. I work with <a
                    href="//pradella.faculty.polimi.it/"
                    >Prof. Matteo Pradella</a
                >, <a href="https://michiari.github.io/">Michele Chiari</a> and Michele
                De Pascalis on the topic of <em
                    >Verification of Infrastructure-as-Code</em
                >.
            </p>
            <p>
                I'm also the maintainer of the verification tool of <a
                    href="//piacere-project.eu">project PIACERE</a
                >, an EU-sponsored DevSecOps framework through the Horizon 2020
                program.
            </p>
            <p>
                During the last {yearsCoding} years, I've been tinkering with many
                technologies, in particular web-related ones.
            </p>
        </section>
        <section>
            <Picture
                src={pfp}
                alt="portrait of Andrea, wearing a nice shirt."
                widths={[200, 400, 800]}
                aspectRatio="1:1"
                class="rounded-3xl shadow-lg"
            />
        </section>
    </main>
</Layout>

<style>
    main a {
        text-decoration: underline;
    }
</style>
