extends ./includes/layout.pug

block content
    .s.appunti
        p.info This page is only available in Italian. The source is available on 
            a(href="https://github.com/QUB3X/Appunti/tree/master/Java" target="_blank") Github
            |.
        #appunti
            p Loading...


append head
    link(rel="stylesheet", href="/assets/styles/xcode.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css")
append scripts
    script(src="//cdn.jsdelivr.net/npm/marked/marked.min.js")
    script(src="/js/highlight.pack.js")
    script(src="/js/appunti.js")
