---
import EntryList from "@components/EntryList.astro"
import Layout from "@layouts/Layout.astro"

import { getCollection } from "astro:content"

const articles = await getCollection("articles")
---

<Layout title="Andrea Franchini | Articles">
	<h2 class="text-3xl font-bold pt-4 md:pt-9 pb-4 md:pb-3">Articles</h2>
	<EntryList items={articles} sortByYear={true} />
</Layout>
