---
import EntryList from "@components/EntryList.astro"
import Layout from "@layouts/Layout.astro"

import { getCollection } from "astro:content"

const articles = await getCollection("articles")
---

<Layout title="Andrea Franchini | Articles">
	<article class="px-2 pt-16 mx-auto max-w-[70ch]">
		<h2 class="text-3xl font-bold mb-4">Articles</h2>
		<EntryList items={articles} sortByYear={true} />
	</article>
</Layout>
