---
	// Component Imports
	import MainHead from "@components/MainHead.astro";
	import Layout from "@components/Layout";
	import EntryList from "@components/EntryList/index.astro";
	import Bio from "@components/Bio/index.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">

<head>
	<MainHead title="Andrea Franchini"
		description="Andrea Franchini is a student in Computer Science and Engineering at the Polytechnic University of Milan" />
</head>

<body>
	<Layout>
		<Bio />
		<EntryList />
	</Layout>
</body>

</html>
