extends ./includes/layout.pug

block content    
    section.bio
        include:markdown-it ./content/bio.md
    section.contact
    h2 Contacts
    p If you want to get in touch, I'll be happy to read your email! Just write at:
        span.email hello (at) andreafranchini (dot) com

    section.portfolio
        include:markdown-it ./content/portfolio.md
    section.notes
        include:markdown-it ./content/notes.md
    