---
import WorkList from "@components/WorkList.astro"
import ArticleList from "@components/ArticleList.astro"
import Layout from "@layouts/Layout.astro"
import Nav from "@components/Nav.astro"
import ExternalLink from "@components/icons/ExternalLink.astro"
---

<Layout title="Andrea Franchini's website">
	<main class="">
		<section class="pt-12 px-2 md:px-8">
			<div class="text-clamp/[1.2]">
				<p class="text-accent dark:text-accent-dark">
					Andrea Franchini is a Software Engineer and Research Fellow
					at Politecnico di Milano, working on Formal Verification of
					Infrastructure-as-Code.
				</p>
				<p class="text-accent dark:text-accent-dark">
					He has a master's degree in Computer Science and
					Engineering.
				</p>
			</div>
		</section>
		<Nav />
		<section class="grid grid-cols-1 md:grid-cols-2">
			<div class="block min-h-[300px] bg-accent"></div>
			<div class="block min-h-[300px] bg-red-500"></div>
		</section>
		<section id="works" class="px-2 md:px-8">
			<h2 class="text-3xl font-bold py-4">Works</h2>
			<WorkList />
		</section>
		<section id="articles" class="px-2 md:px-8">
			<h2 class="text-3xl font-bold py-4">Articles</h2>
			<ArticleList />
		</section>
		<section
			id="contacts"
			class="bg-accent dark:bg-teal-800 text-neutral dark:text-teal-100 py-8"
		>
			<div class="px-2 md:px-8 mx-auto max-w-[48ch] text-xl">
				<h2 class="text-3xl font-bold my-4">Contacts</h2>
				<p>
					If you want to get in touch with me, feel free to send me an
					email at:
					<code class="block my-2">hello@andreafranchini.com</code>
				</p>
				<p>
					Alternatively, you can contact me at my university email:
					<code class="block my-2">andrea.franchini@polimi.it</code>
				</p>
				<p class="mt-8">
					You can find me also on
					<a
						href="//github.com/andreafra"
						referrerpolicy="no-referrer"
						target="_blank"
					>
						<span class="underline underline-offset-4">GitHub</span>
						<ExternalLink
							class="align-baseline inline-block h-5 w-5 -mb-0.5 md:h-6 md:w-6"
						/>
					</a> and
					<a
						href="//linkedin/in/andreafranchini"
						referrerpolicy="no-referrer"
						target="_blank"
					>
						<span class="underline underline-offset-4"
							>LinkedIn</span
						>
						<ExternalLink
							class="align-baseline inline-block h-5 w-5 -mb-0.5 md:h-6 md:w-6"
						/>
					</a>.
					<p class="mt-8">
						My <b>CV</b> is available <a
							class="underline underline-offset-4"
							href="https://drive.proton.me/urls/4BD01JK8XR#RLSTnpAiTG8X"
							referrerpolicy="no-referrer"
							target="_blank"
							><span class="underline underline-offset-4"
								>here</span
							>
							<ExternalLink
								class="align-baseline inline-block h-5 w-5 -mb-0.5 md:h-6 md:w-6"
							/></a
						>.
					</p>
				</p>
			</div>
		</section>
	</main>
</Layout>
