---
import EntryList from "@components/EntryList.astro"
import Layout from "@layouts/Layout.astro"

import { getCollection } from "astro:content"

const works = await getCollection("works")
---

<Layout title="Andrea Franchini | Works">
	<article class="px-2 pt-16 mx-auto max-w-[70ch]">
		<h2 class="text-3xl font-bold mb-4">Works</h2>
		<EntryList items={works} sortByYear={false} />
	</article>
</Layout>
