---
import EntryList from "@components/EntryList.astro"
import Layout from "@layouts/Layout.astro"

import { getCollection } from "astro:content"

const works = await getCollection("works")
---

<Layout title="Andrea Franchini | Works">
	<h2 class="text-3xl font-bold pt-4 md:pt-9 pb-4 md:pb-3">Works</h2>
	<EntryList items={works} sortByYear={false} />
</Layout>
