---
import ExternalLink from "./icons/ExternalLink.astro"
interface Props {
	title: string
	url: string
}

const { title, url } = Astro.props
---

<a
	href={url}
	target="_blank"
	referrerpolicy="no-referrer"
	class="flex py-1 px-3 gap-1 border-text border-2 italic rounded-lg text-md content-center transition hover:bg-text hover:text-background"
>
	<span class="self-center">{title}</span>
	<ExternalLink class="h-5 w-5 self-center" />
</a>
