.list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;

	--item-font-size: 1.2em;
	--item-date-w: 6em;
	--item-gap-x: var(--gap);
	--item-gap-y: calc(var(--gap) * 0.5);

	overflow-x: hidden;
}

.item {
	display: block;
}

.flex {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 0 0 var(--item-gap-y);
	margin: 0;
	text-decoration: none;
	color: var(--color-text-1);
}

.date {
	display: inline-block;
	flex-grow: 0;
	min-width: var(--item-date-w);
	padding: var(--item-gap-y) 0;
	margin-right: var(--item-gap-x);
	border-top: 2px dotted var(--color-dark-1);
	font-size: var(--item-font-size);
	text-align: right;
}

.content {
	display: inline-block;
	flex-grow: 1;
	padding: var(--item-gap-y) 0;
	border-top: 2px solid var(--color-dark-1);
	text-align: left;
}

.title {
	margin: 0 0 var(--item-gap-y);
	font-weight: bold;
	font-size: var(--item-font-size);
}

.desc {
	margin: 0;
	font-size: var(--item-font-size);
	font-family: var(--font-family-sans);
	font-weight: normal;
	color: var(--color-text-2);
}

@import "/src/styles/global.scss";
@media screen and (max-width: $max-width) {
	.list {
		--item-font-size: 1.2em;
		--item-date-w: 4em;
		--item-gap-x: var(--gap);
		--item-gap-y: calc(var(--gap) * 0.5);
	}

	.flex::before {
		display: none;
	}
}
