---
import S from "./Footer.module.scss"
---

<footer class={S.footer}>
	<p class={S.copyright}>
		Made by Andrea Franchini in {new Date().getFullYear()}
		<!-- 🇮🇹 🇪🇺 -->
	</p>
	<!-- <p>
		Font pairing is{" "}
		<a href="https://fonts.google.com/share?selection.family=Cardo:ital@1%7CManrope:wght@400;700"
			rel="noreferrer noopener" class={S.link}>
			Manrope + Cardo
		</a>
	</p> -->
</footer>
