<footer class="py-2 px-6 text-textcolor-2 dark:text-textcolor-2-dark">
	<p class="text-right">
		Built by me with
		<a
			class="font-bold"
			href="//astro.build"
			referrerpolicy="no-referrer"
			target="_blank">Astro</a
		> and hosted on <a
			class="font-bold"
			href="//cloudflare.com"
			referrerpolicy="no-referrer"
			target="_blank">Cloudflare</a
		>.
	</p>
</footer>
