<footer class="w-full py-2 text-text opacity-50 absolute bottom-0">
	<p class="text-center">
		Built by me with
		<a
			class="font-bold"
			href="//astro.build"
			referrerpolicy="no-referrer"
			target="_blank">Astro</a
		> and hosted on <a
			class="font-bold"
			href="//cloudflare.com"
			referrerpolicy="no-referrer"
			target="_blank">Cloudflare</a
		>.
	</p>
</footer>
