.footer {
	display: block;
	position: relative;
	margin: var(--gap) auto;
	font-family: var(--font-family-sans);
	font-style: normal;
	text-align: center;
	color: var(--color-text-3);
	& p {
		margin: 0;
		font-size: var(--font-size-small);
	}
}

.link {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-serif);
	color: var(--color-text-2);

	&:visited {
		color: var(--color-text-2);
	}
}

.copyright {
	letter-spacing: 0.5em;
	text-transform: uppercase;
	&::before, &::after {
		display: inline;
		content: "—";
	}
}
