---
import Nav from "./Nav.astro"
---

<header>
    <div class="pt-4 md:pt-12 px-2 md:px-8 text-clamp/[1.2]">
        <h1 class="text-accent dark:text-accent-dark">
            <a href="/">Andrea Franchini</a>
        </h1>
    </div>
    <Nav />
</header>
