---
const contactLinks = [
	{
		title: "Works",
		url: "/works",
		style: "hover:bg-teal-300 active:bg-teal-300",
	},
	{
		title: "Articles",
		url: "/articles",
		style: "hover:bg-red-300 active:bg-red-300",
	},
	{
		spacer: true,
	},
	{
		title: "GitHub",
		value: "@andreafra",
		url: "https://github.com/andreafra",
		style: "hover:bg-orange-300 active:bg-orange-300",
	},
	{
		title: "Linkedin",
		value: "/in/andreafranchini",
		url: "https://linkedin.com/in/andreafranchini",
		style: "hover:bg-cyan-300 active:bg-cyan-300",
	},
	{
		title: "Email",
		value: "hello@andreafranchini.com",
		url: "mailto:hello@andreafranchini.com",
		style: "hover:bg-pink-300 active:bg-pink-300",
	},
	{
		title: "Work Email",
		value: "andrea.franchini@polimi.it",
		url: "mailto:andrea.franchini@polimi.it",
		style: "hover:bg-yellow-300 active:bg-yellow-300",
	},
	{
		title: "CV • Resumé",
		value: "Download",
		url: "https://drive.proton.me/urls/TW5QY2VABM#EuN3sYR01aDg",
		style: "hover:bg-green-300 active:bg-green-300",
	},
]
---

<header
	class="flex items-center w-full bg-black text-white gsap-header overflow-hidden fixed z-10 py-2 px-2 gap-2 md:gap-4"
>
	<a class="shrink-0" href="/">
		<h1 class="inline-block text-left text-xl font-bold justify-between">
			A
			<span class="hidden md:inline -ml-[2.8px]">ndrea</span>
			<span class="inline md:hidden">.</span>
			Franchini
		</h1>
	</a>
	<nav
		class="flex mt-0 pl-2 md:pl-0 md:inline-block overflow-x-auto whitespace-nowrap [scrollbar-width:none]"
	>
		<ul
			class="rounded-full overflow-x-auto whitespace-nowrap [scrollbar-width:none]"
		>
			{
				contactLinks.map((cl) =>
					cl.spacer ? (
						<span class="text-background mr-2">•</span>
					) : (
						<li
							class={`inline-block bg-background text-black pl-3 pr-1 py-1 rounded-full mr-2 ${cl.style}`}
						>
							<a href={cl.url}>
								{cl.title}{" "}
								<span class="inline-block bg-black w-6 text-center text-background rounded-full">
									→
								</span>
							</a>
						</li>
					)
				)
			}
		</ul>
	</nav>
</header>
