.header {
	display: block;
	margin: var(--gap) 0;
}

.title {
	display: inline-block;
	text-decoration: none;

	h1 {
		font-size: var(--font-size-header);
		font-weight: normal;
		margin: 0;
	}

	&:hover h1 {
		color: var(--color-accent-1);
	}
}

.nav {
	display: block;
	float: right;
}

.link {
	display: inline-flex;
	margin-left: var(--gap);
	align-self: center;
	font-size: var(--font-size-header);
	text-decoration: none;
	color: var(--color-text-1);

	&:first-child {
		margin: 0;
	}

	&:hover {
		color: var(--color-accent-1);
	}
}

@import "/src/styles/global.scss";
@media screen and (max-width: $max-width) {
	.title {
		display: block;
	}

	.nav {
		display: block;
		float: none;
		margin-top: var(--gap);
	}
}
