---
import S from "./Intro.module.scss"
---

<section class={S.intro}>
	<p>
		Hi, I'm <em>Andrea Franchini</em>, a master's degree student in
		<em>Computer Science and Engineering</em>
		at
		<a
			class={S.link}
			href="//www.polimi.it"
			target="_blank"
			rel="noopener noreferrer"
		>
			Polimi</a
		>. I got my bachelor's degree in Computer Engineering in 2020.
	</p>
	<p>
		I've made a bunch of stuff over the years that is available on
		<a
			class={S.link}
			href="//github.com/andreafra"
			target="_blank"
			rel="noopener noreferrer"
		>
			GitHub</a
		>. The projects that are good enough to be showcased are briefly described
		below.
	</p>
	<p>
		If you want to contact me, please send me an email at
		<a href="mailto:hello@andreafranchini.com">
			<em>hello (at) andreafranchini.com</em>
		</a>
	</p>
</section>
