---
import "../styles/global.scss"
const {
	title = "Andrea Franchini",
	description = "Andrea Franchini is a student in Computer Science and Engineering at the Polytechnic University of Milan",
} = Astro.props
---

<title>{title}</title>

<!-- Meta -->
<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Manrope:wght@400;700&display=swap"
	rel="stylesheet"
/>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
