---
import ExternalLink from "@components/icons/ExternalLink.astro"

const links = [
    { name: "About", url: "/about" },
    { name: "Works", url: "/#works" },
    { name: "Articles", url: "/#articles" },
    { name: "Contacts", url: "/#contacts" },
]
---

<nav class="block px-2 md:px-8 my-2 md:my-4">
    <ul class="flex list-none text-left gap-4 md:gap-8 flex-wrap">
        {
            links.map((item) => (
                <li class="inline-block">
                    <a
                        class="block text-lg font-bold md:text-2xl decoration-accent decoration-4 underline-offset-[6px] hover:underline focus:underline"
                        href={item.url}
                    >
                        {item.name}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
