::selection {
	color: var(--color-pink);
	background-color: var(--color-blue-light);
}

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	line-height: var(--lineHeight-normal);
	font-size: var(--fontSize-root);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--font-body);
	font-size: var(--fontSize-normal);
	background-color: var(--color-background);
}

a {
	display: inline-block;
	text-decoration: none;
	color: var(--color-text);
}

/* Layout */
.container {
	display: block;
	max-width: var(--maxWidth-wrapper);
	margin: auto;
	padding: 0;
	background-color: var(--color-background);
	padding: var(--space-2);
}

/* [HEADER] */

.info {
	margin: 0;
	display: block;
	background-color: var(--color-blue);
	color: var(--color-pink);
	width: 24rem;
	height: 24rem;
	padding: var(--space-2);
	margin-bottom: var(--space-2);
}

.info * {
	display: block;
	color: var(--color-pink);
	font-size: var(--fontSize-normal);
}
.info .prefix {
	margin-bottom: 0;
}

.info h1 {
	font-size: var(--fontSize-giant);
	margin: 0 0 var(--space-1);
}

.info ul {
	padding: 0;
	margin: 0;
}

.info li {
	margin-bottom: var(--padding-0);
}

.info .label {
	font-size: var(--fontSize-small);
}

/* [NAVBAR] */
.nav {
	display: block;
	margin-bottom: var(--space-2);
}

.nav ul {
	padding: 0;
	list-style: none;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	display: block;
	padding: 0;
	margin-right: var(--space-1);
	font-weight: 800;
}

/* [CONTENT] */

.content {
	display: block;
	font-size: var(--fontSize-normal);
	padding: var(--space-2);
	border: var(--border-width) solid var(--color-blue);
	color: var(--color-text);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p {
	margin: 0;
	padding: var(--space-1) 0;
}
.content ul {
	margin: 0;
	list-style-type: none;
}

.text p {
	padding: var(--space-1) 0;
}

.text p a {
	display: inline-block;
	position: relative;
	font-style: italic;
}

.text h2 {
	padding: var(--space-2) 0 0;
}
.text h3,
.text h4,
.text h5,
.text h6 {
	padding: 0;
}

/* Blog, Portfolio */
.content .post,
.content .posts {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.content .post .header {
	margin: 0 0 var(--space-2);
}
.content .post .header::after {
	content: "";
	display: block;
	width: calc(100% + var(--space-2) * 2);
	margin-left: -2rem; /* --space-2 * -1 */
	position: relative;
	border-bottom: var(--border-width) solid var(--color-blue);
}

.content .post-item .title {
	font-size: var(--fontSize-big);
	padding-bottom: 0;
}

.content .post .title {
	font-size: var(--fontSize-big);
	padding-bottom: var(--space-2);
}

.content .post-item .date {
	display: block;
	padding: 0;
	font-size: var(--fontSize-small);
}

.content .post .date {
	display: block;
	padding: 0;
	font-size: var(--fontSize-small);
}

.content .post .small-date {
	display: inline-block;
	padding-left: var(--space-0);
	font-size: var(--fontSize-small);
}

.content .button {
	display: inline-block;
	font-size: var(--fontSize-normal);
	font-style: italic;
	background-color: var(--color-background);
}
.content .button::after {
	content: "→";
	display: inline-block;
	padding-left: var(--space-0);
	transition: all ease-in var(--animation-duration);
}
.content .button:hover::after {
	padding-left: var(--space-1);
}

.content .post .text {
	font-size: var(--fontSize-normal);
	padding-bottom: 0;
}

.content .preface {
	font-size: var(--fontSize-normal);
	font-style: italic;
	padding: 0 0 var(--space-1);
}

.content .email {
	display: block;
	text-align: center;
	font-style: italic;
	padding: var(--spacing-vertical) 0;
}

/* [FOOTER] */

.footer {
	padding: var(--space-1) 0 0;
	font-size: var(--fontSize-small);
}

.footer .copyright,
.footer .gpg-key-id,
.footer .tools {
	text-align: right;
	font-size: var(--fontSize-small);
}

/* Media queries */

@media (max-width: 42rem) {
	:root {
		--spacing-vertical: 0.5rem;
		--spacing-horizontal: 0.5rem;
	}

	.layout-wrapper {
		margin: 3px;
	}
	.layout-header--nav {
		padding-bottom: var(--spacing-vertical);
	}
	.layout-header--nav ul li {
		display: inline-block;
		margin-top: var(--spacing-vertical);
		margin-left: var(--spacing-horizontal);
		border: var(--border-width) solid var(--color-text);
	}
	blockquote {
		padding: 0;
		margin-left: 0;
	}
	ul,
	ol {
		list-style-position: inside;
	}
}
