@font-face {
	font-family: "Charis";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/charis/CharisSIL-R.woff");
}
@font-face {
	font-family: "Charis";
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/charis/CharisSIL-B.woff");
}
@font-face {
	font-family: "Charis";
	font-weight: normal;
	font-style: italic;
	src: url("../fonts/charis/CharisSIL-I.woff");
}
@font-face {
	font-family: "Charis";
	font-weight: bold;
	font-style: italic;
	src: url("../fonts/charis/CharisSIL-BI.woff");
}

@font-face {
	font-family: Agane;
	font-weight: 400;
	src: url(../fonts/agane/agane-reg.ttf);
}
@font-face {
	font-family: Agane;
	font-weight: 800;
	src: url(../fonts/agane/agane-xbold.ttf);
}
