.title {
  padding: 1em 0 1em 0; 
}

.btn-nav {
  $skew: 15deg;
  background-color: $white;
  font-weight: bold;
  border: 0.2em solid transparent;
  transform: skewX($skew);
  transition: all ease-in 0.2s;
  
  &:hover, &:focus {
    background-color: $main-color;
    a {
      color: white
    }
  }
  &.active, &:active {
    background-color: $main-color;
    a {
      color: white
    }
  }
  a {
    color: $main-color;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    transform: skewX(-$skew)
  }
}
.card-wrapper {
  padding: 0;
}
.card-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;  
  .card, .card-dummy {
    font-size: 1rem;
    vertical-align: top;
    border-radius: $card-radius;
    .intro {
      display: inline-block;
      width: $intro-width;
      margin-left: 0;
      height: 100%;

      &.intro-translate {
        position: absolute;
        right: 0;
      }
      @include transition;
            
      .container {
        display: flex;
        width: 100%;
        height: 100%;
        .button-box {
          align-self: center;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          .symbol {
            width: $portfolio-symbol;
            height: $portfolio-symbol;
            
            white-space: normal;
            .row {
              height: $portfolio-symbol / 3;
              display: flex;
              .nospace {
                font-size: 0;
                align-self: center;
                width: 100%;
                span {
                  display: inline-block;
                  position: relative;
                  width: $portfolio-full / 3;
                  height: $portfolio-full / 3;
                  text-align: center;
                  font-size: 1rem;
                  font-family: $font-stack-sans;
                  font-weight: 600;
                  line-height: 1em;
                  color: $white;
                }
              }
            }
          }
          .arrow {
            color: white;
            border-top: 1px solid white;
            margin-top: 1em;
            padding-top: 1em;
          }
        }
      }
    }
    .content {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: top;
      color: $white;
      
     
      .boxes {
        display: flex;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        font-size: 0;
        .box {
          display: inline-block;
          height: $card-height / 2;
          width: $card-height / 2;
          background: linear-gradient(45deg, #d2e9e5 , #a5b496);
          flex-grow: 1;
          font-size: 1rem;
        }
      }
    }
  }
}
// PHONES
@media (max-width: $small) {
  body {
    position: relative;
  }
  .card-dummy, #section_dummy {
    display: none
  }
  .card-container {
    white-space: normal;
    
    .card {
      display: block;
      margin: 0 5% 1em 5%;
      .intro {
        display: block;
        height: $card-height / 3;
        width: 100%;
        .container {          
          .button-box {
            .symbol {
              display: inline-block;
              width: 5em;
            }
            .arrow {
              display: none;
              margin: 0;
              padding: 0;
            }
          }  
        }
      }
      .content {
        display: block;
        width: 100%;
        .text {
          padding: 2em
        }
        .boxes {
          width: 90%;
          margin-left: 5%
        }
      }
      .intro + .content {
        .text {
          padding-top: 0;
        }
      }
    }
  }
  footer {
    position: relative;
  }
}
// TABLETS
// - portrait
@media (min-width: $small) and (max-width: $medium) {
  body {
    position: relative;
  }
  .card-container {
    white-space: normal;    
    .card-dummy, #section_dummy {
      display: none
    }
    .card {
      display: block;
      margin: 0 10% 1em 10%;
      .intro {
        display: block;
        //height: 5em;
        width: 100%;
        .container {
          padding: 1em 0 1em 0;
          .button-box {
            .symbol {
              display: inline-block;
              width: 5em;
            }
            .arrow {
              display: none;
              margin: 0;
              padding: 0;
            }
          }  
        }
      }
      .content {
        display: block;
        width: 100%;
        .text {
          padding: 2em;
        }
        .boxes {
          width: 80%;
          margin-left: 10%
        }
      }
    }
  }
  footer {
    position: relative;
  }
}

// - landscape / laptops
@media (min-width: $medium) and (max-width: $large) {
  .card-wrapper {
    padding: 2em 0 2em 0
  }
  .card-container {
    white-space: nowrap;
    .card-dummy {
      display: inline-block;
      width: 15%;
      height: $card-height;
      vertical-align: top;
    }
    .card {
      display: inline-block;
      width: 60%;
      height: $card-height;
      margin-left: 5%;
      
      .content {

        width: $content-width;
        
        .text {
          padding: 3em;
        }
      }
    }
  }
}
// DESKTOP
@media (min-width: $large) {
  .card-wrapper {
    padding: 2em 0 2em 0;
    max-width: $large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .card-container {
    white-space: nowrap;
    overflow: hidden;
    
    .card-dummy {
      display: inline-block;
      width: 15%;
      height: $card-height;
      vertical-align: top;
    }
    .card {
      display: inline-block;
      width: 60%;
      height: $card-height;
      margin-left: 5%;
      
      .content {

        width: $content-width;
        
        .text {
          padding: 3em;
        }
      }
    }
  }
}