---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import MainHead from "@components/MainHead.astro";
import S from "./styles.module.scss"

const { content } = Astro.props;
---

<html lang={content.lang || 'en' }>

<head>
	<MainHead title={content.title} description={content.description} />
</head>

<body>
	<div class={S.container}>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</div>
</body>

</html>
