---
import Footer from "@components/Footer.astro"
import Header from "@components/Header.astro"
import "../styles/base.css"
import "../styles/icons.css"
// import "@fontsource-variable/manrope"
export interface Props {
	title: string
	description?: string
}

const defaultDescription =
	"Andrea Franchini is a Software Engineer. Web, Cloud, Functional & Concurrent programming, Privacy, Design, Game Development."

const { title } = Astro.props
const { description } = Astro.props ?? defaultDescription
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="stylesheet" href="https://use.typekit.net/brp1lci.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			body {
				visibility: hidden;
			}
		</style>
	</head>
	<body class="bg-background text-text relative min-h-screen pb-16">
		<Header />
		<main class="w-screen">
			<slot />
		</main>
		<Footer />
	</body>
	<noscript>
		<style>
			body {
				visibility: visible;
			}
		</style>
	</noscript>
</html>
